html {
    background-color: rgb(179, 199, 202);
    margin: 10px;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    display: flex;
    align-self: center;
}
.score {
    border: 2px solid rgb(47, 98, 192);
    background-color: rgb(149, 198, 226);
}

.score > ul {
    display: flex;
    font-weight: bold;
    list-style: none;
    justify-content: space-around;
}

.btnBox {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.btn {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

  .btn:active {
      box-shadow: 0 5px #666;
      transform: translateY(4px);
  }

    #rock {
        background-color: gray;
        color: white;
    }

    #scissors {
        background-color: tomato;
        color: white;
    }
    #rock:hover, #paper:hover, #scissors:hover {
        background-color: indigo;
    }

.btnRefresh{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
.restBtn {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: cadetblue;

}

.eachRoundResult {
    display: flex;
    color: blue;
    font-weight: bold;
    margin-top: 50px;
    background-color: rgb(233, 216, 216);
    padding:10px;
}

.eachRoundResult > h1 {
    color: black;
}

#finalResult {
    display: flex;
    font-weight: bold;
    font-size: 50px;
    align-self: center;
    justify-content: center;
    background-color: rgb(46, 207, 108);
    padding: 20px;
    margin-top: 150px;
}

.restBth {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: orange;
}